h2 {
    text-align: left;
}

.img-macam-alat {
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: 800px;
}

.img-macam-alat img {
    width: 300px;
    height: 200px;
}

.alat-pengukur {
    width: 800px;
    text-align: justify;
}